server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/logistics_hub
    username: postgres
    password: TopStriker15
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # use 'update' for dev, 'validate' for prod with Flyway
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret: "uX9vZ3pLrTq1wE7mBfY2hN5cJk8sQ4vTzX6aG9bLrPq3dV1nMfY7eK2tWzR5xU8qJ"   # replace with strong secret in env vars
  expiration: 3600000                # 1 hour in milliseconds

management:
  endpoints:
    web:
      exposure:
        include: health,info

